body {
  background-image: url("../images/star.jpg");
	background-color:#cccccc;/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
#mains{
  display: -webkit-flex;
display: flex;
}
#homes{
    outline-width: 3px; outline-style:solid;
  	background-color:rgba(255,255,255,0.5);
    -webkit-flex: 1;
           flex: 1;
            min-height: 500px;
}
#nav {
  outline-width: 3px; outline-style:solid;
background-color:rgba(255,255,0,0.5);
 width: 200px;
}
#headers{
  outline-width: 3px; outline-style:solid;
  	background-color:rgba(255,255,255,0.5);
    height: 75px;
}
#footers{
  outline-width: 3px; outline-style:solid;
  height:70px;
  text-align:center;
  	background-color:rgba(255,255,255,0.5);			/*フッタ部分の背景色*/
}
